
div.required.field.PostForm input {
  background-color: #e5e7ea;
  border: none;
}

div.required.field.PostForm input[type = 'text'] {
  background-color: #e5e7ea;
  border: none;
}
div.required.field.PostForm input :focus {
  background-color: #e5e7ea;
  border: none;
}

div.required.field.PostForm textarea {
  background-color: #e5e7ea;
  border: none;
}

div.required.field.PostForm textarea :focus {
  background-color: #e5e7ea;
  border: none;
}